@model HEJARITO.Models.StudentDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
            @Html.ActionLink("Ladda ner", "Download", "StudentDocuments", new { Id = Model.Id }, new { @class = "btn btn-success btn-xs" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

    </dl>
</div>
@if (Model.Feedbacks.Count > 0 || User.IsInRole("Teacher"))
{
    <div class="col-sm-6">
        <table class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Feedback</th>
                    <th width="10%">Betyg</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Feedbacks)
                {
                    <tr>
                        <td>
                            <strong>@item.Name </strong>
                            @item.Content
                        </td>
                        <td>
                            @item.Grade
                        </td>
                    </tr>
                }
                @if (User.IsInRole("Teacher"))
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Ge feedback", "Create", "Feedbacks", new { StudentDocumentId = Model.Id }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
}