@* //TM 2018-03-09 12:25 Partial View för att kunna lista alla aktiviteter inom aktuell modul *@

@model IEnumerable<HEJARITO.Models.Activity>

@if (User.Identity.IsAuthenticated) //TM 2018-03-12 16:43
{

    <table class="table table-striped table-bordered">
        <tr>
            @* //TM 2018-03-09 12:45 Egna rubriktexter *@
            <th>aktivitet</th>
            <th>typ</th>
            <th>start</th>
            <th>slut</th>
            <th>beskrivning</th>
            <th>deadline</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @* //TM 2018-03-09 12:46 Endast datumdelen av DateTime-värdena borde visas - kvarstår!!! *@
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ActivityType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.DeadlineDate)</td>
            </tr>
        }

    </table>
}