@* //TM 2018-03-09 22:47 Detta är vyn som en nyss inloggad elev hamnar i *@

@model HEJARITO.Models.StudentViewModel
@{
    ViewBag.Title = "Student";
}

@if (User.IsInRole("Student")) //TM 2018-03-12 16:41
{
    @*JG 2018-03-12: This page uses Bootstrap 3 Datatables functionality: https://datatables.net/.
        Input comes in the form of a "TecherViewModel" with the lists Activities, Courses and Users.*@

    <h2>Denna veckas aktiviteter</h2>
    <table width="100%" class="table table-striped table-bordered" id="activitiestable" cellspacing="0">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Aktivitetstyp</th>
                <th>Beskrivning</th>
                <th>Startdatum</th>
                <th>"Deadline"</th>
                <th>Slutdatum</th>
                <th>Detaljer</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Namn</th>
                <th>Aktivitetstyp</th>
                <th>Beskrivning</th>
                <th>Startdatum</th>
                <th>"Deadline"</th>
                <th>Slutdatum</th>
                <th>Detaljer</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model.Activities)
            {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ActivityType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.DeadlineDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>

                @*//TM 2018-03-13 05:30 "../Activities/" lagts till för att detaljerna verkligen ska kunna visas i.s.f. krasch *@
                <td>@Html.ActionLink("Details", "../Activities/Details", new { id = item.Id })</td>
            </tr>

            }
        </tbody>
    </table>

    <h2>Kurser</h2>
    <table width="100%" class="table table-striped table-bordered" id="coursestable" cellspacing="0">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                <th>Detaljer</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                <th>Detaljer</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model.Courses)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>

                @*//TM 2018-03-13 05:32 "../Courses/" lagts till för att detaljerna verkligen ska kunna visas i.s.f. krasch *@
                <td>@Html.ActionLink("Details", "../Courses/Details", new { id = item.Id })</td>
            </tr>
            }
        </tbody>
    </table>

    <h2>Kontaktlista</h2>
    <table width="100%" class="table table-striped table-bordered" id="contactstable" cellspacing="0">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Detaljer</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Detaljer</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model.Users)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>

                @*//TM 2018-03-13 06:30 OBS!!! Kraschar! *@
                <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
            </tr>
            }
        </tbody>
    </table>

    @*JG 2018-03-12: Script for rendering the tables.*@
    @section Scripts
    {
        <script src="~/Scripts/teachertables.js"></script>
    }
}