@model HEJARITO.Models.TeacherViewModel

@{
    ViewBag.Title = "Lärare";
}

@*JG 2018-03-12: This page uses Bootstrap 3 Datatables functionality: https://datatables.net/.
    Input comes in the form of a "TecherViewModel" with the lists Activities, Courses and Users.*@



<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#weekActivities">Aktiviteter som slutar denna vecka</a></li>
        <li><a data-toggle="tab" href="#activeCourses">Pågående och kommande kurser</a></li>
        <li><a data-toggle="tab" href="#Addressbook">Adressbok</a></li>
    </ul>

    <div class="tab-content">
        <div id="weekActivities" class="tab-pane fade in active">

            <h2>Aktiviteter som slutar denna vecka</h2>

            @if (ViewBag.TableSizeActivities == "large")
            {
                <table class="table table-striped table-bordered" id="activitiestable-large" cellspacing="0">

                    @* //TM 2018-03-22 14:02 Beautifying genom tabellkolumnernas enhetliga bredd m.h.a. Bootstrapklasserna "col-md-X"*@
                    <thead>
                        <tr>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>

                            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>

                            @* //TM 2018-03-19 10:47 Bort med Deadlines!
                                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>

                            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
                            <th class="col-md-2">@*Detaljer*@</th>

                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:37 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>
                                <th>Detaljer</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Activities)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.ActivityType.Name)</td>

                                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>

                                @* //TM 2018-03-19 10:47 Bort med Deadlines!
                                    <td>@Html.DisplayFor(modelItem => item.DeadlineDate)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.ActionLink("Detaljer", "Details", "Activities", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.TableSizeActivities == "small")
            {
                <table class="table table-striped table-bordered" id="activitiestable-small" cellspacing="0">

                    @* //TM 2018-03-22 14:02 Beautifying genom tabellkolumnernas enhetliga bredd m.h.a. Bootstrapklasserna "col-md-X"*@
                    <thead>
                        <tr>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>

                            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>

                            @* //TM 2018-03-19 10:47 Bort med Deadlines!
                                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>

                            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
                            <th class="col-md-2">@*Detaljer*@</th>

                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:37 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>
                                <th>Detaljer</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Activities)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.ActivityType.Name)</td>

                                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>

                                @* //TM 2018-03-19 10:47 Bort med Deadlines!
                                    <td>@Html.DisplayFor(modelItem => item.DeadlineDate)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.ActionLink("Detaljer", "Details", "Activities", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
        <div id="activeCourses" class="tab-pane fade">

            <h2>
                Pågående och kommande kurser
                @Html.ActionLink("+ Kurs", "Create", "Courses", "", new { @title = "Skapa en ny kurs", @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("+ Modul", "Create", "Modules", "", new { @title = "Skapa en ny modul", @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("+ Aktivitet", "Create", "Activities", "", new { @title = "Skapa en ny aktivitet", @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("+ Dokument", "Create", "Documents", "", new { @title = "Ladda upp nytt dokument", @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Lista alla kurser", "Index", "Courses", "", new { @title = "Lista alla kurser", @class = "btn btn-primary btn-xs" })
            </h2>


            @* //TM 2018-03-22 14:02 Beautifying genom tabellkolumnernas enhetliga bredd m.h.a. Bootstrapklasserna "col-md-X"*@
            @if (ViewBag.TableSizeCourses == "large")
            {
                <table class="table table-striped table-bordered" id="coursestable-large" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-6">@Html.DisplayNameFor(model => model.Courses.First().Name)</th>

                            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>

                            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
                            <th class="col-md-2">@*Detaljer*@</th>

                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Name)</th>
                                //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>
                                <th>Detaljer</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Courses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.ActionLink("Detaljer", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.TableSizeCourses == "small")
            {
                <table class="table table-striped table-bordered" id="coursestable-small" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-6">@Html.DisplayNameFor(model => model.Courses.First().Name)</th>

                            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>*@

                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>

                            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
                            <th class="col-md-2">@*Detaljer*@</th>

                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Name)</th>
                                //TM 2018-03-19 10:43 Bort med beskrivningar!
                                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>
                                <th>Detaljer</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Courses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.ActionLink("Detaljer", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }


        </div>
        <div id="Addressbook" class="tab-pane fade">

            <h2>Adressbok</h2>

            @* //TM 2018-03-22 14:02 Beautifying genom tabellkolumnernas enhetliga bredd m.h.a. Bootstrapklasserna "col-md-X"*@
            @if (ViewBag.TableSizeContacts == "large")
            {
                <table class="table table-striped table-bordered" id="contactstable-large" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-3">@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
                            <th class="col-md-3">@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Users.First().Email)</th>
                            <th class="col-md-2">Telefonnummer</th>
                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
                                <th>@Html.DisplayNameFor(model => model.Users.First().Email)</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td><a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.TableSizeContacts == "small")
            {
                <table class="table table-striped table-bordered" id="contactstable-small" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-3">@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
                            <th class="col-md-3">@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Users.First().Email)</th>
                            <th class="col-md-2">Telefonnummer</th>
                        </tr>
                    </thead>

                    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
                                <th>@Html.DisplayNameFor(model => model.Users.First().Email)</th>
                            </tr>
                        </tfoot>
                    *@

                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td><a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

    </div>
</div>


@*JG 2018-03-12: Script for rendering the tables.*@
@*@section Scripts
    {
        <script src="~/Scripts/teachertables.js"></script>
    }*@
