@model HEJARITO.Models.TeacherViewModel

@{
    ViewBag.Title = "Lärare";
}

@*JG 2018-03-12: This page uses Bootstrap 3 Datatables functionality: https://datatables.net/.
    Input comes in the form of a "TecherViewModel" with the lists Activities, Courses and Users.*@

<h2>Aktiviteter som slutar denna vecka</h2>
<table width="100%" class="table table-striped table-bordered" id="activitiestable" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>

            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>*@

            <th>@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>

            @* //TM 2018-03-19 10:47 Bort med Deadlines!
                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>*@

            <th>@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>

            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
            <th>@*Detaljer*@</th>

        </tr>
    </thead>

    @* //TM 2018-03-19 10:37 Bort med tabellfötter!
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Activities.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Activities.First().ActivityTypeId)</th>
                <th>@Html.DisplayNameFor(model => model.Activities.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Activities.First().StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.Activities.First().DeadlineDate)</th>
                <th>@Html.DisplayNameFor(model => model.Activities.First().EndDate)</th>
                <th>Detaljer</th>
            </tr>
        </tfoot>
    *@

    <tbody>
        @foreach (var item in Model.Activities)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ActivityType.Name)</td>

                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>

                @* //TM 2018-03-19 10:47 Bort med Deadlines!
                    <td>@Html.DisplayFor(modelItem => item.DeadlineDate)</td>*@

                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.ActionLink("Detaljer", "Details", "Activities", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
            </tr>
        }
    </tbody>
</table>

<h2>
    Samtliga kurser
    @Html.ActionLink("+ Kurs", "Create", "Courses", "", new { @title = "Skapa en ny kurs", @class = "btn btn-default btn-xs" })
    @Html.ActionLink("+ Modul", "Create", "Modules", "", new { @title = "Skapa en ny modul", @class = "btn btn-default btn-xs" })
    @Html.ActionLink("+ Aktivitet", "Create", "Activities", "", new { @title = "Skapa en ny aktivitet", @class = "btn btn-default btn-xs" })
</h2>


<table width="100%" class="table table-striped table-bordered" id="coursestable" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Courses.First().Name)</th>

            @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>*@

            <th>@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>

            @*//TM 2018-03-19 10:52 Ingen kolumnrubrik ska visas för detaljknapparna *@
            <th>@*Detaljer*@</th>

        </tr>
    </thead>

    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Courses.First().Name)</th>
                //TM 2018-03-19 10:43 Bort med beskrivningar!
                <th>@Html.DisplayNameFor(model => model.Courses.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Courses.First().StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.Courses.First().EndDate)</th>
                <th>Detaljer</th>
            </tr>
        </tfoot>
    *@

    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                @* //TM 2018-03-19 10:43 Bort med beskrivningar!
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>*@

                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.ActionLink("Detaljer", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })</td>
            </tr>
        }
    </tbody>
</table>

<h2>Kontaktlista</h2>

<table width="100%" class="table table-striped table-bordered" id="contactstable" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Users.First().Email)</th>
        </tr>
    </thead>

    @* //TM 2018-03-19 10:40 Bort med tabellfötter!
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Users.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Users.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Users.First().Email)</th>
            </tr>
        </tfoot>
    *@

    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
            </tr>
        }
    </tbody>
</table>


@*JG 2018-03-12: Script for rendering the tables.*@
@section Scripts
{
    
}