@model HEJARITO.Models.Activity


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@Model.Module.Course.Name</a></li>
        <li class="breadcrumb-item"><a href="#">@Model.Module.Name</a></li>
        @*<li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["controller"]</a></li>
        <li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["action"]</a></li>*@
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>