@model ICollection<HEJARITO.Models.Module>

<ul class="alist" id="CourseModuleList">
    @foreach (var module in Model)
    {
        <li>
            <strong>
                @module.StartDate.ToString("dd/MM") >> @module.EndDate.ToString("dd/MM")
                @module.Name
            </strong>
            <ul class="alist@{@module.Id} ">
                @foreach (var activity in module.Activities)
                {
                    <li>
                        @activity.StartDate.ToString("dd/MM") >> @activity.EndDate.ToString("dd/MM")
                        @activity.Name
                    </li>
                }
            </ul>

        </li>
    }
</ul>
