<!-- //TM 2018-03-22 12:38 Denna layout avser bara /Home/Index -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("../../Content/HeJaRiTo-bakgrund.png");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            width: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #Floating {
            width: auto;
            height: 65%;
            min-width: 250px;
            min-height: 250px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <a href="~/Account/Login" title=@ViewBag.MyText>
        <div class="bg">
            <div class="container" style="width:60%; height:auto">
                <div>
                    <p style="width:330px; font-size:36px; font-weight:bolder; background-color:rgb(222,222,111);color:rgb(222,0,0); text-align:center; opacity:0.85">Välkommen!</p>
                </div>
            </div>
                <div id="Floating"></div>
                <div class="container" style="width:auto; height:auto">
                    <p style="color:transparent">@ViewBag.MyText</p>
                    <div>
                        <p style="font-size:xx-large; font-weight:bolder; background-color:rgb(21,40,68);color:white; text-align:center; opacity:0.7">@ViewBag.MyText</p>
                    </div>
                </div>
            </div>
</a>
    <!-- //TM 2018-03-23 13:56
    <div class="row" style="background-color:darkblue">
        <div class="col-lg-4">
            <h4>Vad gör vi?</h4>
            <p>Vi gör allt mellan himmel och jord. Bara det handlar om webbutveckling.</p>
            <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h4>Var finns vi?</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16290.16163935208!2d18.014249151635543!3d59.31174488915661!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77c7003371d9%3A0xb5391fbee7ab86a4!2zw4Vyc3Rhw6RuZ3N2w6RnZW4gOSwgMTE3IDQzIFN0b2NraG9sbQ!5e0!3m2!1ssv!2sse!4v1521798799417" width="330" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        @* //TM 2018-03-23 10:42 Ansiktena ska komma sist *@
        <div class="col-lg-4">
            <h4>Vilka är vi?</h4>
            <p class="col-xs-3"><img src="https://4.bp.blogspot.com/--NB0sqDP5nU/WKIzeDbN5mI/AAAAAAAAUZU/soC7PStTq-cJiag4eBwdjaYM_5Fwd4NvgCLcB/s1600/driving-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://3.bp.blogspot.com/-NInXu5Ot7mQ/WKIzZzSOa2I/AAAAAAAAUZE/lePjcAp5KdIWkBE8Ren1ARxmXgFn1iRiwCLcB/s1600/cash-gif-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://3.bp.blogspot.com/-cQ2fwvZ0nNE/WKIxfJ_yE-I/AAAAAAAAUYk/xYN4JD9any0CUoP3phUZS8EbOSHfwWbpgCLcB/s1600/thumbs-up-animated-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://2.bp.blogspot.com/-2iaUCm5wZD4/WKIzddY18hI/AAAAAAAAUZQ/DZ7_DKCKLm4qalU7YQln0a8w2MZmZSOwACLcB/s1600/clapping-emoji.gif" class="img-responsive" /></p>
            <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
        </div>
    </div>
        -->
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p>Lärplattform för Lexicon. Copyright HEJARITO 2018.</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/teachertables.js"></script>
</body>
</html>