@model HEJARITO.Models.Activity

@{
    ViewBag.Title = "Detaljer";
}

@if (User.Identity.IsAuthenticated) //TM 2018-03-13 05:47
{
    if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("[Ändra] ", "Edit", new { id = Model.Id })
    }

    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div>
        <h4>Aktivitet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ActivityType.Name)
            </dt>


        @Html.DisplayNameFor(model => model.StartDate):
        @Html.DisplayFor(model => model.StartDate)
        @Html.DisplayNameFor(model => model.EndDate):
        @Html.DisplayFor(model => model.EndDate)

        @foreach (var item in Model.StudentDocuments)
        {
            @Html.DisplayFor(itemModel => item.FileName);
        }

        @if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink("[Ladda upp dokument för denna aktivitet]", "CreateActivityDocument", "Documents", new { ActivityId = Model.Id }, "")
        }
        else
        {
        @Html.ActionLink("[Ladda upp inlämningsuppgift]", "Create", "StudentDocuments", new { ActivityId = Model.Id }, "")
        }
        <p>@Html.DisplayFor(model => model.Description)</p>
        <hr />
        <h2>Inlämningsuppgift</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DeadlineDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeadlineDate)
            </dd>
        </dl>
    </div>
    <p>
        @if (User.IsInRole("Teacher")) //TM 2018-03-12 15:34
        {
            @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-warning" })
        }
@Html.ActionLink("Tillbaka till startsidan", "SelectStartView", "Home", "", new { @class = "btn btn-xs btn-primary" })
    </p>
}