@using Microsoft.AspNet.Identity;
@model HEJARITO.Models.Activity

@{
    ViewBag.Title = "Detaljer";
}

@section Breadcrumbs
    {
    @Html.Partial("_BreadCrumbs", Model)
}


@if (User.Identity.IsAuthenticated) //TM 2018-03-13 05:47
{
    <h1>
        @Html.DisplayFor(model => model.Name)
    </h1>
    <span>
        @if (User.IsInRole("Teacher")) //TM 2018-03-12 15:42
        {
            @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-warning" })
        }
    </span>
    <div>
        <hr />

        <p>@Html.DisplayFor(model => model.Description)</p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeadlineDate)
            </dt>
            <dd>
                <strong>@Html.DisplayFor(model => model.DeadlineDate)</strong>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>
        <hr />
        <div class="col-sm-8">
            @if (User.IsInRole("Teacher"))
            {
                <span id="list-Students" style="background-color: beige;">
                    @Html.Partial("_ActivityStudents", Model)
                </span>
            }
            else
            {
                if (Model.ActivityTypeId == 3)
                {
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered" id="coursedocumentstable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mina inlämningar</th>
                                </tr>
                            </thead>
                            <tbody class="slist" id="StudentDocumentsList">
                                <tr>
                                    <td>
                                        @Html.ActionLink(" ", "Create", "StudentDocuments", new { ActivityId = Model.Id }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-upload" })
                                        Ladda upp inlämningsuppgift
                                    </td>
                                </tr>
                                @if (User.IsInRole("Student"))
                                {
                                    foreach (var doc in Model.StudentDocuments.Where(u => u.ApplicationUserId == User.Identity.GetUserId()).ToList())
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(" ", "Download", "StudentDocuments", new { Id = doc.Id }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-download" })
                                                <span>
                                                    @Html.ActionLink(@doc.Name, "Details", "StudentDocuments", new { Id = doc.Id }, "")

                                                    @doc.Name
                                                    [uppladdad @doc.UploadDate]
                                                </span>
                                                @Html.ActionLink(" ", "Delete", "StudentDocuments", new { Id = doc.Id }, new { @class = "listing-icon btn btn-danger btn-sm glyphicon glyphicon-trash" })
                                                @if (doc.Feedbacks.Count > 0)
                                                {
                                                    <Br />@Html.ActionLink("Se feedback", "Details", "StudentDocuments", new { Id = doc.Id }, new { @class = "btn btn-success btn-xs" });
                                                    @*<table class="table table-striped table-bordered" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Feedback</th>
                                                                    <th width="10%">Betyg</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in doc.Feedbacks)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <strong>@item.Name </strong>
                                                                            @item.Content
                                                                        </td>
                                                                        <td>
                                                                            @item.Grade
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>*@
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            <div>
                @Html.ActionLink("Tillbaka", null, null, null, new { @class = "btn btn-xs btn-primary", href = Request.UrlReferrer })
                @Html.ActionLink("Till modulen", "Details", "Modules", new { Id = Model.ModuleId }, new { @class = "btn btn-xs btn-primary" })
            </div>

        </div>

        <div class="col-sm-4">
            <table class="table table-striped table-bordered" id="coursedocumentstable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Aktivitetsdokument</th>
                    </tr>
                </thead>
                <tbody class="slist" id="CourseDocumentsList">
                    @if (User.IsInRole("Teacher"))
                    {
                        <tr>
                            <td>
                                @*<a class="btn btn-success glyphicon glyphicon-upload" href="#" id="uploadCourseDocumentBtn" onclick="GetCourseDocumentForm()"></a>*@
                                @Html.ActionLink(" ", "CreateActivityDocument", "Documents", new { ActivityId = Model.Id }, new { @class = "btn btn-success glyphicon glyphicon-upload" })
                                Ladda upp nytt aktivitetsdokument

                            </td>
                        </tr>
                    }
                    @if (Model.Documents.Count > 0)
                    {
                        foreach (var doc in Model.Documents)
                        {
                            <tr>
                                <td class="documentColumn">
                                    @Html.ActionLink("Ladda ner", "Download", "Documents", new { Id = doc.Id }, new { @class = "btn btn-success btn-xs" })
                                    <span class="documentLink">
                                        @doc.UploadDate.ToShortDateString() :
                                        <span class="activity-listing">
                                            @Html.ActionLink(doc.Name, "Details", "Documents", new { Id = doc.Id }, new { @class = "listing" })
                                            @*@Html.ActionLink(" ", "Edit", "Documents", new { Id = doc.Id }, new { @class = "listing-icon btn btn-sm btn-warning  glyphicon glyphicon-cog" })*@
                                            @Html.ActionLink(" ", "Delete", "Documents", new { Id = doc.Id }, new { @class = "listing-icon btn btn-sm btn-danger glyphicon glyphicon-trash" })
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <span>- Inga uppladdade dokument -</span>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

    </div>



}
