@model HEJARITO.Models.CourseEditor

@{
    ViewBag.Title = Model.Course.Name;
}

<div id="divCourseInfo" class="row">
    <div class="col-lg-12" id="divCourseModuleListing">
        <h1>
            @Model.Course.Name
        </h1>
        <p>
            @Html.ActionLink(" ", "Edit", new { id = Model.Course.Id }, new { @class = "btn btn-warning glyphicon glyphicon-cog" })

            @Html.DisplayNameFor(model => model.Course.StartDate):
            @Html.DisplayFor(model => model.Course.StartDate)
            @Html.DisplayNameFor(model => model.Course.EndDate):
            @Html.DisplayFor(model => model.Course.EndDate)

            @*@Html.ActionLink("[Ladda upp kursdokument]", "Create", "Documents", new { CourseId = Model.Course.Id }, "")*@
            @*@Ajax.ActionLink("[Ladda upp kursdokument]", "_Create", "Documents", new { CourseId = Model.Course.Id }, new AjaxOptions
                {
                    UpdateTargetId = "divFormContainer",
                    OnBegin = "onAjaxBegin",
                    OnComplete = "onAjaxComplete"

                })*@
            @*@Ajax.ActionLink("[Ladda upp kursdokument]", "Create", "Documents", new { CourseId = Model.Course.Id}, AjaxOptions{  })*@

        </p>
        <span>
            @Html.DisplayFor(model => model.Course.Description)
        </span>
        <hr />
    </div>
</div>

<div id="divCourseModuleListing" class="row">

    <div class="col-lg-12">
        <div>
            <span id="divFormContainer"></span>
        </div>

        <div id="divCourseModules">
            @{ Html.RenderPartial("_CourseModulesEditor", Model.Course.Modules.OrderBy(m => m.StartDate).ToList()); }
        </div>
        <div>
            @Html.ActionLink("Tillbaka", null, null, null, new { @class = "btn btn-xs btn-primary", href = Request.UrlReferrer })
        </div>
        <hr />
        <div class="col-md-6">
            <div id="divCourseDocuments" width="90%">
                @{ Html.RenderPartial("_CourseDocuments", Model.Course); }
            </div>
        </div>
        <div class="col-md-6">
            <div id="">
                @{ Html.RenderPartial("_CourseStudents", Model.Course.ApplicationUsers); }
            </div>
        </div>
    </div>



    <div class="col-lg-12">
        <details>
            <summary>Lägg till modul</summary>
            <span id="divCreateCourseModule">
                @{ Html.RenderPartial("_CreateCourseModule", Model); }
            </span>
        </details>
    </div>
    <div class="col-lg-6">
        <details>
            <summary>Lägg till Aktivitet</summary>
            <span id="divCreateModuleActivity" class="col-lg-12">
                @{ Html.RenderPartial("_CreateModuleActivity", Model.Activity); }
            </span>
        </details>
    </div>
    <div class="col-lg-6">
        <div id="divCourseStudents">
            @if (User.IsInRole("Teacher"))
            {
                <details>
                    <summary>Registrera ny elev</summary>
                    <span id="divCreateCourseStudent">
                        @{ Html.RenderPartial("_CreateCourseStudent", Model); }
                    </span>
                </details>


            }
        </div>
    </div>


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $("#btnCreateModule").on('click', function () {
                let q = $("#Module_Name").val();
                if (q.length > 1) {
                    $("#divCreateModuleActivity").load("/Activities/GetActivityForm", { Id: 2 });
                }

                //alert(createdModuleName);
            });
            var url = '@Url.Action("PartialCreate", "Documents")';
            $("uploadCourseDocumentBtn").click(function () {
                //$("divFormContainer").load(url, { CourseId = Module.Course.Id })
                //$("divFormContainer").load("www.google.com");
                alert("first one worked");
            })
        });
        function GetCourseDocumentForm() {
           $("#divFormContainer").load('@Html.Raw(@Url.Action("PartialCreate", "Documents", new { @courseId = Model.Course.Id, @documentType = 0}))');
        }
        @*function GetModuleDocumentForm(modelId) {
            var M = modelId;
            $("#divFormContainer").load(
                '@Html.Raw(@Url.Action("PartialCreate", "Documents", new { @courseId = Model.Course.Id, @documentType = 0, @moduleId = M }))'
            );
        }*@

        function AddErrorMessage() {
            $("ErrorContent").append('<div class="alert alert-danger alert-dismissible fade in" style="clear: both;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>');
            $("#ErrorMessageList").slideDown();
            $("#ErrorMessageList ul").append("<li>lala</li>");
        }

        function verifyEmailAvailability() {
            var studentEmail = $('#Student_Email').val();
            $.ajax({
                url: '/Courses/VerifyEmailAvailability',
                type: "GET",
                dataType: "JSON",
                data: { email: studentEmail },
                success: function (available) {
                    if (available) {
                        $("#Student_Email").addClass("valid");
                        $("#Student_Email").removeClass("input-validation-error");
                    } else {
                        $("#Student_Email").addClass("input-validation-error");
                        $("#Student_Email").removeClass("valid");
                    }
                }
            });
        }

        function onAjaxBegin() {
            $("#divFormContainer").slideUp();
        }

        function onAjaxComplete() {
            $("#divFormContainer").slideDown();
        }

        function GetModuleDates() {
            var moduleId = $('#ModuleId').val();
            $.ajax({
                url: '/Modules/GetDates',
                type: "GET",
                dataType: "JSON",
                data: { ModuleId: moduleId },
                success: function (dates) {
                    $("#StartDate").val(dates[0]);
                    $("#EndDate").val(dates[1]);
                }
            });
        }
    </script>
}
