@model HEJARITO.Models.CourseEditor

@{
    ViewBag.Title = Model.Course.Name;
}

<h2>Kurseditor</h2>

<div id="divCourseInfo" class="col-lg-12">
    <h4>
        @Model.Course.Name
        @Html.ActionLink("E", "Edit", new { id = Model.Course.Id })
        @Html.ActionLink("<", "Index")

    </h4>
    <p>
        @Html.DisplayNameFor(model => model.Course.StartDate):
        @Html.DisplayFor(model => model.Course.StartDate)
        @Html.DisplayNameFor(model => model.Course.EndDate):
        @Html.DisplayFor(model => model.Course.EndDate)
    </p>
    <span>
        @Html.DisplayFor(model => model.Course.Description)
    </span>
    <hr />


</div>

<div id="divCourseModuleListing" class="col-lg-12">

    <div class="col-lg-6">
        <h4>Kursnnehåll</h4>
        <span id="divCourseModules">
            @{ Html.RenderPartial("_CourseModules", Model.Course.Modules.OrderBy(m => m.StartDate).ToList()); }
        </span>
        <details>
            <summary>Lägg till modul</summary>
            <span id="divCreateCourseModule" class="col-lg-12">
                @{ Html.RenderPartial("_CreateCourseModule", Model); }
            </span>
        </details>
        <details>
            <summary>Lägg till Aktivitet</summary>
            <span id="divCreateModuleActivity" class="col-lg-12">
                @{ Html.RenderPartial("_CreateModuleActivity", Model.Activity); }
            </span>
        </details>
    </div>
    <div class="col-lg-6">
        <h4>Registrerade Studenter</h4>
        <span id="divCourseStudents">
            @{ Html.RenderPartial("_CourseStudents", Model.Course.ApplicationUsers); }
        </span>
        <details>
            <summary>Registrera elev</summary>
            <span id="divCreateCourseStudent">
                @{ Html.RenderPartial("_CreateCourseStudent", Model); }
            </span>
        </details>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(document).ready(function () {
            $("#btnCreateModule").on('click', function () {
                let q = $("#Module_Name").val();
                if (q.length > 1) {
                    alert("there was " + q + " in name, so i will refresh.");
                    $("#divCreateModuleActivity").load("/Activities/GetActivityForm", {Id:2});
                }
                    
                //alert(createdModuleName);
            });
        });
    </script>
}