@model HEJARITO.Models.Course

@{
    ViewBag.Title = "Detaljer";
}

<h1>
    @Html.DisplayFor(model => model.Name)
</h1>

<span>
    @Html.DisplayNameFor(model => model.StartDate) @Html.DisplayFor(model => model.StartDate)

    @Html.DisplayNameFor(model => model.EndDate) @Html.DisplayFor(model => model.EndDate)
</span>

<span>
    @if (User.IsInRole("Teacher")) //TM 2018-03-12 16:37
    {
        //TM 2018-03-15 12:04 Svenska texter
        @Html.ActionLink("Kurseditor", "CourseEditor", new { id = Model.Id }, new { @class = "btn btn-xs btn-default" })

        @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-warning" })
    }
    @*  //TM 2018-03-15 12:06 Svensk text + rollberoende startvy *@
    @*@Html.ActionLink("Tillbaka till startsidan", "SelectStartView", "Home", "", new { @class = "btn btn-xs btn-primary" })*@
</span>

<div>
    <span>@Html.DisplayFor(model => model.Description)</span>
    <hr />
</div>

<div class="row">
    <div class="col-sm-8">

        <div>
            <span id="divCourseModules">
                @{ Html.RenderPartial("_CourseModules", Model.Modules.OrderBy(m => m.StartDate).ToList()); }
            </span>

            <div>
                @Html.ActionLink("Tillbaka", null, null, null, new { @class = "btn btn-xs btn-primary", href = Request.UrlReferrer })
            </div>

        </div>
    </div>
    <div class="col-sm-4">

        <div id="divCourseDocuments">
            @{ Html.RenderPartial("_CourseDocuments", Model.Documents); }
        </div>
        <div id="divCourseStudents">
            @{ Html.RenderPartial("_CourseStudents", Model.ApplicationUsers); }
        </div>
    </div>



</div>