@model HEJARITO.Models.IndexViewModel
@{
    // TM 2018-03-20 10:03 Svensk text isf. engelsk
    ViewBag.Title = "Kontoinställningar";
}
<h2>@ViewBag.Title</h2>
@* // TM 2018-03-20 12:25 Raden nedan Verkar ha blivit överflödig! :-) *@
    @*<p class="text-success">@ViewBag.StatusMessage</p>*@

<div>
    @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
    <h4>Gör ändringar i dina kontoinställningar</h4>
    <hr />
    <dl class="dl-horizontal">
        @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
        <dt>Lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Ändra lösenord", "ChangePassword", "", new { @class = "btn btn-xs btn-warning" })
            }
            else
            {
                @Html.ActionLink("Skapa lösenord", "Create", "", new { @class = "btn btn-xs btn-success" })
            }
            ]
        </dd>
        @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
        <dt>Externa inloggningar:</dt>
        <dd>
            @Model.Logins.Count [
            @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
            @Html.ActionLink("Hantera", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
        <dt>2F-autentisering:</dt>
        <dd>
            <p>
                @*// TM 2018-03-20 10:03 Svensk text isf. engelsk *@
                Det finns inga konfigurerade leverantörer för tvåfaktorsautentisering. Se <a href="https://go.microsoft.com/fwlink/?LinkId=403804">den här artikeln</a> (på engelska)
                för detaljer om hur denna ASP.NET-applikation kan fås till att stödja tvåfaktorsautentisering.
                @*There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.*@
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
